:root {
  --intro-background-image: url("view.jpg");
}

.intro-text {
  text-align: center;
  color: rgb(213, 166, 166);

  background-image: var(--intro-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  position: relative;
}


body {
  margin: 0;
  overflow: hidden;
}

/* MAIN SCENE */
.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* BACKGROUND FULLSCREEN */
.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* ALL OBJECTS */
.scene img:not(.bg) {
  position: absolute;
  z-index: 2;
}
.hint {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;

  font-size: 14px;
  z-index: 20;

  animation: fadeIn 1s ease;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

/*🪟 WINDOW */
 .door {
  position: absolute;
  width: 27%;
  top: 12%;   /* 👈 move it lower */
  left: 56%;
  z-index: 10;
  cursor: pointer;
}

 .window {
  width: 27%;
  top: -12%;
  left: 56%;
   position: absolute;
  z-index: 10; 
  cursor: pointer;
}



/* 🪑 SHELF */
.shelf {
  width: 45%;
  bottom: -10%;
  left: 8%;
}

.rug {
  position: absolute;
  width: 47%;
  bottom: -15%;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}

/* 🎵 MUSIC */
.music {
  width: 18%;
  bottom: 20.3%;
  left: 20%;
}

/* 🛋️ SOFA */
.sofa {
  width: 40%;
  bottom: -15%;
  right: 10%;
}

/* 📺 TV */
.tv {
  position: absolute;
  width: 29%;
  bottom: 16%;
  left: 27%;
  transform: translateX(-50%);
  z-index: 3;
}

/* ☕ TABLE */
.table {
  width: 25%;
  bottom: -7%;
  left: 55%;
  transform: translateX(-50%);
}

.flower {
  position: absolute;
  width: 35%;
  bottom: -3%;
  left: 15%;
  transform: translateX(-50%);
  z-index: 5;
}
.hidden {
  display: none;
}
*/